{% for export in toolbar.exports|default([]) %}
  <a class="{{ toolbar_button_secondary }}" href="{{ export.url|default('#') }}" title="{{ export.title|default('Download as ' ~ (export.format|default('export')|upper)) }}">
    {% include '@Shared/components/icon.twig' with { name: export.icon|default('download'), class: 'h-4 w-4 shrink-0' } only %}
    <span>{{ export.label|default('Export') }}</span>
  </a>
{% endfor %}
{% if toolbar.exports|default([]) is empty and toolbar.export_url|default('') %}
  <a class="{{ toolbar_button_secondary }}" href="{{ toolbar.export_url }}">
    {% include '@Shared/components/icon.twig' with { name: toolbar.export_icon|default('download'), class: 'h-4 w-4 shrink-0' } only %}
    <span>{{ toolbar.export_label|default('Export') }}</span>
  </a>
{% endif %}
