{% extends "@Shared/email/base-layout.twig" %}

{% set header_subtitle = 'Password Reset Request' %}
{% set subject = 'Password Reset Request - ' ~ app_name %}

{% block content %}
<p>Hi {{ user_name }},</p>

<p>We received a request to reset your password. Click the button below to create a new password for your account.</p>

<div style="text-align: center;">
    <a href="{{ reset_link }}" class="button">Reset Password</a>
</div>

<p>Or copy and paste this link into your browser:</p>
<p><a href="{{ reset_link }}" class="link-text">{{ reset_link }}</a></p>

<div class="notice">
    <strong>Security notice:</strong> This link expires in {{ expires_text }}. If you didn't request this reset, you can safely ignore this email.
</div>
{% endblock %}
